[{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"EE7F9E178D855DBA881E9A55B511A88B","uri":"http://dangerousprototypes.com/2010/01/29/prototype-usb-infrared-remote-control-receivertransmitter/","title":"Prototype: USB infrared remote control receiver/transmitter | Dangerous Prototypes"},{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"C8AF114699E0BF05553E4B566619F797","uri":"http://www.realvnc.com/vnc/index.html","title":"RealVNC - VNC - the original cross-platform remote control solution"}]