[{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"06F0032A0BA6AF90D65C6D81627E6443","uri":"http://reactivated.net/writing_udev_rules.html","title":"Santoku :: Writing udev rules"},{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"3754774D014215DD13BDF3D8A29891EF","uri":"http://www.codeproject.com/KB/cs/Drools_NETPrimer.aspx","title":"CodeProject: Getting Started with Drools.NET. Free source code and ..."}]