[{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"FE4806F786832EDDAD8D9464622291FF","uri":"http://www.telerik.com/help/aspnet-ajax/moss-install-aspnet-ajax-35.html","title":"Extending your MOSS site with Microsoft ASP.NET AJAX 3.5"},{"ver":"BookmarksEtl.0.0.1","creator":"batch","hash":"D0E7880569F87EA9FD3D0EE234BEDD32","uri":"http://msdn.microsoft.com/en-us/library/ms998283.aspx#paght000006_step2","title":"How To: Encrypt Configuration Sections in ASP.NET 2.0 Using RSA"}]